<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="{%url 'index'%}">Ana Sayfa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/articles/article/21">Hakkımda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'article:articles' %}">Makaleler</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">

    <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
      {% if request.user.is_authenticated %}
      <a class="nav-link" href="{%url 'dashboard'%}">Kontrol Paneli</a>
      <a class="nav-link" href="/user/logout">Çıkış Yap</a>
      
      {% else %}
      <a class="nav-link" href="/user/login">Giriş Yap</a>
      <a class="nav-link" href="/user/register">Kaydol</a>
      {% endif %}
      
    </form>
  </div>
</nav>