{% extends "layout.html" %}
{% block body %}
<div>
  

<h1 >Ben Berfin!</h1>
<!--<div class="jumbotron">
  <h1 class="display-4">Ben Kimim
    !</h1>
<p class="lead">İtü'lü 1 mühendislik öğrencisi...</p>
<hr class="my-4">
<p>Beni linkedinden takip edin</p>
<p class="lead">
  
  <a class="btn btn-light btn-lg" href="https://www.linkedin.com/in/berfin-duman-2b906a191/" target="-blank" role="button">Berfin Duman    <img width="30px" src="https://e7.pngegg.com/pngimages/778/732/png-clipart-logo-linkedin-computer-icons-facebook-facebook-blue-text-thumbnail.png" alt=""></a>
  
</p>-->

  </div>
{% endblock %}